#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_enter_thumb {
            timeout-ms = <80>;
            key-positions = <32 33>;
            bindings = <&kp RET>;
        };
    };

    macros {
        gif: gif {
            label = "giphy";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp N2>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp G &kp I &kp F>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
                &kp Q       &kp W       &kp E       &kp R       &kp T          &kp Y       &kp U       &kp I       &kp O       &kp P
                &mt LGUI A  &mt LALT S  &mt LCTRL D &mt LSHFT F &kp G          &kp H       &mt RSHFT J &mt RCTRL K &mt RALT L  &mt RGUI SEMI
                &kp Z       &kp X       &kp C       &kp V       &kp B          &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH
                                        &kp DEL     &lt NAV TAB &kp BSPC       &kp SPACE   &lt SYM ESC &kp RET
            >;
        };

        nav_layer {
            label = "NAV";
            bindings = <
                &kp ESC     &kp PSCRN   &kp UP      &kp EQUAL   &kp LBRC       &kp RBRC    &kp N7      &kp N8      &kp N9      &kp PLUS
                &kp LSHFT   &kp LEFT    &kp DOWN    &kp RIGHT   &kp LBKT       &kp RBKT    &kp N4      &kp N5      &kp N6      &kp MINUS
                &kp DEL     &kp PG_UP   &kp CAPS    &kp PG_DN   &kp LPAR       &kp RPAR    &kp N1      &kp N2      &kp N3      &kp ASTERISK
                                        &trans      &trans      &trans         &mo ADJ     &kp RET     &kp N0
            >;
        };

        sym_layer {
            label = "SYM";
            bindings = <
                &kp EXCL    &kp AT      &kp HASH    &kp DLLR    &kp PRCNT      &kp CARET   &kp AMPS    &kp ASTERISK &kp SQT     &kp DQT
                &kp RA(A)   &trans      &kp RA(S)   &trans      &kp MINUS      &kp C_MUTE  &kp LS(RA(N4)) &kp RA(N5) &kp RA(N4) &kp GRAVE
                &kp RA(F18) &kp RA(F19) &trans      &trans      &kp UNDER      &kp C_VOL_DN &kp C_VOL_UP &kp C_PREV  &kp C_NEXT  &kp BSLH
                                        &trans      &gif        &mo ADJ        &trans      &kp C_PP    &trans
            >;
        };

        adjust_layer {
            label = "ADJ";
            bindings = <
                &sys_reset  &bt BT_CLR  &out OUT_TOG &trans     &trans         &trans      &kp F7     &kp F8      &kp F9      &kp F12
                &bootloader &bt BT_NXT  &trans       &trans     &trans         &trans      &kp F4     &kp F5      &kp F6      &kp F11
                &trans      &bt BT_PRV  &trans       &trans     &trans         &trans      &kp F1     &kp F2      &kp F3      &kp F10
                                        &trans       &trans     &trans         &trans      &trans     &trans
            >;
        };
    };
};
